button {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
  }