body {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.adjectives {
    background-color: lightyellow;
}

.expressions {
    background-color: mistyrose;
}

.people {
    background-color: honeydew;
}

button.random {
    margin-right: 10px;
    padding: 0px;
    border-radius: 5px;
    border: solid 1px black;
    cursor: ne-resize;
    background: none;
    width: 40%;

    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

button.random:hover {
    background-color: white;
}

button.language {
    border: none;
    border-radius: 5px;
    background: none;
    cursor: e-resize;
    padding-left: 5px;
}

button.home {
    flex-grow: .01;
    text-align: right;
    padding: 10px;
    opacity: 100%;
    justify-content: flex-end;
    margin-left: auto;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    cursor: alias;

    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;

}

button.home {
    border: dashed .5px;
}

button.home:hover {
    background-color: white;
}

.card {
    font-size: 17px;
    border: solid 1px red;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    width: 80%;
    height: 70%;
    cursor: help;
}

.buttons {
    padding-top: 15px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.hidden {
    display: none;
}

.word-en,
.word-jp {
    padding-top: 10px;
}

.word-jp {
    font-size: 20px;
}

.word-romaji {
    opacity: 0%;
}

.reveal {
    opacity: 100%;
}

/*desktop*/
@media only screen and (min-width: 685px) {
    .card {
        border: solid 1px;
        width: 50%;
        height: 60%;
    }
    button.random {
        width: 45%;
    }
}

/*tiny desktop*/
@media only screen and (max-height: 300px) {
    .card {
        border: solid green;
        height: 60%;
    }
}