@font-face {
    font-family: "Noto";
    src: url(NotoSerifJP-VF.otf);
}

body {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    padding-top: 10vh;
    width: 100vw;
    height: 100vh;
    font-family: "serif";
    font-size: 16px;
    letter-spacing: .02em;
}

.adjectives {
    background-color: lightyellow;
}

.expressions {
    background-color: mistyrose;
}

.people {
    background-color: honeydew;
}

button.random {
    font-family: "Noto";
    margin-right: 10px;
    padding: 0px;
    border-radius: 5px;
    border: solid 1px black;
    cursor: e-resize;
    background: none;
    width: 40%;

    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

button.random:hover {
    background-color: white;
}

button.language {
    border: none;
    border-radius: 5px;
    background: none;
    cursor: e-resize;
    padding-left: 5px;
    font-family: "Noto";
    display: inline-flex;
    align-items: center;
}

.english {
    font-family: "Serif";
    padding-right: .5em;
}

button.home {
    flex-grow: .025;
    text-align: right;
    padding: 10px;
    opacity: 100%;
    justify-content: flex-end;
    margin-left: auto;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    cursor: alias;

    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;

}

button.home {
    border: solid 1px;
}

button.home:hover {
    background-color: white;
}

.card {
    border: solid 1px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    width: 90%;
    height: 60%;
    cursor: help;
}

.buttons {
    padding-top: 15px;
    display: inline flex;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.hidden {
    display: none;
}

.word-en,
.word-jp {
    padding-top: 10px;
}

.word-jp {
    font-size: 22px;
    font-family: "Noto";
}

.word-romaji {
    opacity: 0%;
}

.reveal {
    opacity: 100%;
}

/*desktop*/
@media only screen and (min-width: 685px) {
    body {
        justify-content: center;
        padding-top: 0vh;
    }
    .card {
        border: solid 1px;
        width: 50%;
        height: 60%;
    }
    button.random {
        width: 45%;
    }
}

/*tiny desktop*/
@media only screen and (max-height: 300px) {
    .card {
        border: solid 1px;
        height: 60%;
    }
}